on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      with:
        bun-version: 1.3.1

    - name: Install Dependencies
      run: bun install --frozen-lockfile
    - name: Build Project
      run: bun run build
    - name: Pack Artifact
      run: bun pm pack --filename artifact.tgz

    - uses: actions/upload-artifact@v4
      with:
        name: artifact
        path: artifact.tgz

  publish:
    name: Publish Release
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # for OIDC
    environment: Release
    steps:
    # bun publish がOIDCに対応していない(at 2025/11/04)ので、
    # publishのみnpm経由
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@v6
      with:
        node-version: '22.21.1'
    - run: npm install -g npm@11.6.2 # for OIDC

    - uses: actions/download-artifact@v4
      with:
        name: artifact
        path: .

    - name: Publish Release
      uses: changesets/action@v1
      with:
        publish: npm publish --provenance ./artifact.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
