name: Release Workflow

on:
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      with:
        bun-version-file: ".bun-version"

    - name: Install Dependencies
      run: bun install --frozen-lockfile
    - name: Build Project
      run: bun run build
    - name: Pack Artifact
      run: bun pm pack --filename artifact.tgz

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: artifact
        path: artifact.tgz

  publish:
    name: Publish Package
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # for OIDC
    environment: Release
    steps:
    # bun publish がOIDCに対応していない(at 2025/11/04)ので、
    # publishのみnpm経由
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
      with:
        node-version: '24.11.0'
    - run: npm install -g npm@11.6.2 # for OIDC

    - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
      with:
        name: artifact
        path: .
    - name: Publish
      run: npm publish --provenance ./artifact.tgz

    - name: Get version from package.json
      id: version
      run: |
        VERSION=$(jq -r '.version' package.json)
        echo "version=$VERSION" >> $GITHUB_OUTPUT
    - name: Create tag
      run: |
        git tag "v${{ steps.version.outputs.version }}"
        git push origin "v${{ steps.version.outputs.version }}"
    - name: Create Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
      with:
        tag_name: "v${{ steps.version.outputs.version }}"
        generate_release_notes: true
