# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test

    steps:
    - uses: actions/checkout@v4
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: 1.3.1

    - run: bun install --frozen-lockfile
    - run: bun run build
    - run: bun test --coverage

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
      with:
        files: ./coverage/lcov.info
        fail_ci_if_error: true
        slug: tooppoo/ceiocs
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}